@model FIT5032Project.Models.TrackerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tracker</h2>
@using (Html.BeginForm("Create", "Tracker", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container border p-1">
        <div class="row my-auto">
            <div class="col-sm">
                    @Html.EditorFor(model => model.NewItem.Name, new { htmlAttributes = new { placeholder = "What did you work on?", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewItem.Name, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm my-auto">
                    @Html.DropDownListFor(model => model.NewItem.Priority, new SelectList(Enumerable.Range(1, 5)), "Priority")
                    @Html.ValidationMessageFor(model => model.NewItem.Priority, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm my-auto mx-1">
                <input class="btn btn-primary float-right" type="submit" value="Add">
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.GetEnumerator().Current.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.GetEnumerator().Current.Priority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

